* {
    background-color: rgb(34, 39, 39);
    color: rgb(103, 114, 124);
    padding: 1%;
    text-align: center;
    
}

body {
    width: 800px;
    margin: 0 auto;
}

p,
ul,
ol,
li {
    background-color: rgb(25, 29, 29);
    color: rgb(161, 176, 190);
    text-align: justify;
}

ul,
ol {
    display: flexbox;
    padding-left: 5%;
}

a {
    color: aliceblue;
    background-color: transparent;
}
.description {

    text-align:justify;
}

h1 {
    margin-bottom: -5px;
}

h3 {
    margin-bottom: -15px;
}